name: coinTalk chatRoom server CI/CD

on:
  push:
    branches: [ develop ]
  pull_request:
    branches: [ develop ]

env:
  S3_BUCKET_NAME: onerproject

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Set up JDK 17
        uses: actions/setup-java@v2
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Grant execute permission for gradlew
        run: chmod +x gradlew

      - name: Build with Gradle
        run: ./gradlew clean build